{
	"semi": true,
	"singleQuote": true,
	"jsxSingleQuote": false,
	"bracketSpacing": true,
	"trailingComma": "all",
	"printWidth": 120,
	"useTabs": true,
	"tabWidth": 4,
	"arrowParens": "always",
	"endOfLine": "lf",
	"bracketSameLine": false,
	"overrides": [
		{
			"files": "**/*.{scss,css}",
			"options": {
				"useTabs": false,
				"tabWidth": 2
			}
		},
		{
			"files": "**/*.json",
			"options": {
				"useTabs": false,
				"tabWidth": 2
			}
		}
	]
}
